<div class="container" *ngIf="products">
  <div class="row card-group">
    <div class="col-4 mt-2 mb-2"  *ngFor="let product of products._embedded.products">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{this.env.serverUrl+'getProductPicture/'+product.id}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{product.name}}</h5>
          <p class="card-text">{{product.description}}</p>
          <a href="#" class="btn btn-primary"><i class="bi bi-cart"></i> Add to cart</a>
        </div>
      </div>
    </div>
  </div>
</div>

